html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "DynaPuff", Arial, sans-serif;
  margin: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
  background-color: black;
}

header {
  display: flex;
  height: 10vh;
  font-size: 4.5em;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 82vh;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-area,
.messages {
  display: flex;
  width: 100vw;
  margin: auto;
}

.play-area {
  height: 41vh;
  flex-basis: 0;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

h2 {
  font-size: 2.5em;
}

.player-side,
.computer-side {
  display: flex;
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: 1;
}

.counters {
  font-family: "Micro 5", Arial, sans-serif;
  font-size: 8em;
  display: flex;
  width: 10vw;
  justify-content: space-evenly;
}

#player-btns,
#computer-btns,
.counters {
  display: flex;
  gap: 10px;
  padding: 5px;
}

#player-btns button,
#player-btns img,
#computer-btns button,
#computer-btns img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

#player-btns button:hover {
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: 0px 10px 20px rgba(0, 255, 0, 0.4),
      0px 6px 6px rgba(0, 255, 0, 0.5);
  }
}

#player-btns button.active,
#computer-btns button.active {
  border: none;
  box-shadow: rgba(7, 76, 156, 0.3) 0px 0px 0px 3px inset,
    rgba(7, 76, 156, 0.3) 0px 0px 0px 3px;
}

#player-btns button.active.second-color,
#computer-btns button.active.second-color {
  border: none;
  box-shadow: rgba(0, 0, 128, 0.5) 0px 0px 0px 3px inset,
    rgba(0, 0, 64, 0.5) 0px 0px 0px 3px;
}

.messages {
  display: flex;
  height: 41vh;
  flex-direction: column;
  font-size: 2em;
  justify-content: space-around;
  align-items: center;
  flex-basis: 0;
  margin: auto;
}

.messages p {
  height: 1.3vh;
}

button {
  font-family: inherit;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  height: 8vh;
  font-size: 1em;
  padding: 0.5em;
}

footer a {
  color: inherit;
}

footer a:active {
  display: flex;
  align-items: flex-end;
  color: inherit;
}

footer a img:hover {
  transform: scale(3);
}

footer img {
  height: 1.5em;
  width: 1.5em;
}

/* TODO colors 
TODO optimize layout
TODO change box-shadow
TODO add source box-shadow */
